<h1>Pages#contact</h1>
<p>Find me in app/views/pages/contact.html.erb</p>
<p> <%= number_to_phone "09065654665" %></p>
<p> <%= number_to_currency "200" %></p>
<p> <%= number_to_percentage "43" %></p>
